@font-face {
    font-family: 'Poppins';
    src: url(Fonts/Poppins/Poppins-Black.ttf/);
}
@font-face {
    font-family: 'Salsa';
    src: url(Fonts/Fonts/Salsa/Salsa-Regular.ttf);
}
@font-face {
    font-family: 'Tetkur';
    src: url(Fonts/Fonts/Tektur/Tektur-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: 'ubuntu';
    src: url(Fonts/Ubuntu/Ubuntu-Medium.ttf);
}
@font-face {
    font-family: 'roboto';
    src: url(Fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf);
}
#main{
    background: url(Images/mainpic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 650px;
    position: relative;
    opacity: 0.9;
    
    /* display: flex; */
}
#main h1{
    color: white;
    /* opacity: 100%; */
    position: absolute;
    left: 130px;
    top: 110px;
    font-family: 'Tetkur';
}
#main h3  {
    color: white;
    position: absolute;
    left: 130px;
    top: 200px;
    font-family: 'Tetkur';
    font-size: 170%;
}
#main #f1{
    color: white;
    position: absolute;
    left: 130px;
    top: 250px;
    font-family: 'Tetkur';
    font-size: 170%;
}
#main #f2{
    color: white;
    position: absolute;
    left: 130px;
    top: 290px;
    font-family: 'Tetkur';
    font-size: 170%;
}
*{
    margin: 0;
    padding: 0;
}
#contact{
    background: url(Images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    width: 100%;
    height: 600px;
}
#heading{
    color: white;
    font-family: 'Roboto';
    font-weight: bolder;
    font-size: 290%;
    text-align: center;
    padding-top: 200px;
   
}
#c1::placeholder{
    font-size: larger;
    color: black;
}
#c1{
    margin-left: 420px;
    margin-top: 70px;
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid black;
    font-size: 14pt;
    width: 300px;
    color: black;
    font-family: 'Roboto';
    height: 70PX;
}
#b1{
    background-color: #17A2B8;
    color: white;
    font-family: 'Poppins';
    width: 130px;
    border-radius: 70px;
    height: 70px;
    font-size: 130%;
}

#b2{
    background-color: #20C997;
    border: 1px dashed red;
    width: 120px;
    height: 25px;
    border-radius: 25px;
}

@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    #left img {
        margin: 0;
        padding: 0;
        margin-right: 0px;
        margin-left: 0px;
        /* position: absolute;
        left: 20px;
        z-index: 1; */
    }
    #left{
        display: flex;
        width: 100%;
        margin-right: 0px;
        margin-left: 85px;
        
    }
    #right{
       display: flex;
       width: 100%;
       margin-right: 0px;
       padding: 0px;
    }
    #table1{
        padding: 50px;
    }
    #table2{
        padding: 30px;
    }
    #right img {
        display: none; 
    }
    #right a{
        font-size: 80%;
        padding: 0px;
        text-align: center;
        margin-right: 0px;
        text-align: center;
        text-align: center;
        padding: 0px;
    }
    #right ul{
        font-size: 80%;
        padding: 0px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
    }
  
    #right li{
        padding: 0px;
        text-align: center;
        margin-right: 0px;
        text-align: center;
        margin-top: 25px;
        font-size: 10pt;
        align-content: center;
       padding: 0px;
       width: 100%;
       padding: 35px;
       /* margin-left: 20px; */
        
    }

    #main h1{
        font-size: 14pt;
        position: absolute;
        left: 30px;
        font-weight: bolder;
    }

    #main h3{
        font-size: 14pt;
        position: absolute;
        left: 30px;
        font-weight: bolder;
    }

    #main #f1{
        font-size: 14pt;
        position: absolute;
        left: 30px;
        font-weight: bolder;
    }

    #main #f2{
        font-size: 14pt;
        position: absolute;
        left: 30px;
        font-weight: bolder;
    }


    .heading{
        font-size: 20pt;
        margin-top: 20px;
    }

    #our1 img{
        width: 30%;
    }
    .mobile{
        width: 20px;
    }

    #pictures{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .mobile {
        width: 200px;
        height: 400px;
        margin-top: 20px;
    }

    #pictures2{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }


    #contact{
        background: url(Images/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.8;
        width: 100%;
        height: 600px;
    }
    #heading{
        color: white;
        font-family: 'Roboto';
        font-weight: bolder;
        font-size: 200%;
        text-align: center;
        padding-top: 200px;
       
    }
    #c1::placeholder{
        font-size: larger;
        color: black;
    }
    #c1{
        margin-left: 60px;
        margin-top: 70px;
        border-radius: 30px;
        background-color: transparent;
        border: 1px solid black;
        font-size: 12pt;
        width: 200px;
        color: black;
        font-family: 'Roboto';
        height: 70PX;
    }
    #b1{
        background-color: #17A2B8;
        color: white;
        font-family: 'Poppins';
        width: 130px;
        border-radius: 70px;
        height: 70px;
        font-size: 130%;
    }









}






#ourspecial{
    display: flex;
}
#pictures{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
}
.mobile{
    padding: 10px;
}
.mobile1{
    font-family: 'Roboto';
    font-size: 14pt;
}
#pictures2{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
}

#mainheading{
    color: #393935;
    margin-top: 50px;
    font-family: 'Roboto';
}















nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#left img{
    margin-left: 130px;
    margin-top: 14px;
}
ul{
    display: flex;
    list-style-type: none;
}
li{
    display: flex;
    padding: 20px;
    font-family: 'ubuntu';
    color: #393935;
    margin-right: 40px;
}
#right a{
    display: flex;
    /* padding: 20px; */
    font-family: 'ubuntu';
    color: #393935;
    text-decoration: none;
    /* margin-right: 40px; */
}
li:hover{
    color: #393935;
    text-decoration: underline #393935;
}
#right{
    display: flex;
    margin-right: 100px;
    font-family: 'ubuntu';
    
}








.t1{
    font-family: 'Salsa';
    font-size: 2vh;
    color: #908B8B;
    text-decoration: none;
}
.heading{
     color: #4b4342;
     text-align: center;
}
#ima{
    border-radius: 50%;
    height: 13vh;
    width:  13vh;
}
.para{
    color: #908B8B;
    font-size: 3vh;
    font-family: 'Salsa';
}
.button1{
    background-color: #5FCAC7;
    font-family: 'Salsa';
    
}
.d1{
    background-color: #F3F0F0;
    margin: 30px;
    padding: 60px;
}
.table1{
    text-align: center;
    border: none;
    outline: none;
    border-bottom: 1px solid #908B8B;
}
.div1{
    background-color: #2A2A2A;
    color: azure;
    font-family: 'Poppins';
    height: 22vh;
}
.button{
    border-radius: 10px;
    border: 1px solid plum;
    width: 55px ;
    height: 2px;
    background-color: #5fcac7;
    color: #ffffff ;
    text-decoration: dotted;
    font-family: 'Salsa';
    text-align: center;
    color: white;
}
.makean{
    color: white;
    font-size: 70%;
    text-decoration: none;
    height: 2px;
}
@font-face {
    font-family: 'Salsa';
    src: url(Fonts/Salsa/Salsa-Regular.ttf);
}
@font-face {
    font-family: 'tETKUR';
    src: url(Fonts/Tektur/Tektur-VariableFont_wdth\,wght.ttf);
}

.inp{
    color: aquamarine;
    border: none;
    border-bottom: 2px solid black; 
    outline: none; 
    font-family: 'tETKUR';
}
p{
    color: white;
    font-family: 'Salsa';
}

.inp:focus{
     
     border-bottom-color: blue;
}
#text{
    color: aquamarine;
    border: none;
    border-bottom: 2px solid black; 
    outline: none; 
    font-family: 'tETKUR';
    width: auto;
    height: 70px;
}
.t1:hover{
    color: green;
    text-decoration: underline green;
}
.t1:visited{
    color: #908B8B;
    text-decoration: underline green;
}
#a{
    background-color: #E9E0E0;
}
#b{
    background-color: #E9E0E0;
}
.c{
    color: #4b4342;
    font-size: 200%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
input{
    height: 30px;

}
.link{
    display: inline;
    float: right;
    padding: 30px;
    margin-top: 20px;
    margin-left: 70px;
    font-size: 120%;
}
input{
    outline: none;
    border-bottom: 1px solid black;
    border: none;
}
.heading1{
    color: white;
    font-family: monospace;
    padding-top: 100px;
}
#abc{
    background-color: #20C997;
    color: white;
    border-radius: 10px;
    width: 90px;
    height: 35px;
}
h2{
    margin-top: 40px;
    color: white;

}

