@font-face {
    font-family: 'Poppins';
    src: url(Fonts/Poppins/Poppins-Black.ttf/);
}
@font-face {
    font-family: 'Salsa';
    src: url(Fonts/Fonts/Salsa/Salsa-Regular.ttf);
}
@font-face {
    font-family: 'Tetkur';
    src: url(Fonts/Fonts/Tektur/Tektur-VariableFont_wdth\,wght.ttf);
}

*{
    margin: 0;
    padding: 0;
}
.t1{
    font-family: 'Salsa';
    font-size: 2vh;
    color: #908B8B;
    text-decoration: none;
}
.heading{
     color: #4b4342;
     text-align: center;
}
#ima{
    border-radius: 50%;
    height: 13vh;
    width:  13vh;
}
.para{
    color: #908B8B;
    font-size: 3vh;
    font-family: 'Salsa';
}
.button1{
    background-color: #5FCAC7;
    font-family: 'Salsa';
    
}
.d1{
    background-color: #F3F0F0;
    margin: 30px;
    padding: 60px;
}
.table1{
    text-align: center;
    border: none;
    outline: none;
    border-bottom: 1px solid #908B8B;
}
.div1{
    background-color: #2A2A2A;
    color: azure;
    font-family: 'Poppins';
    height: 22vh;
}
.button{
    border-radius: 10px;
    border: 1px solid plum;
    width: 55px ;
    height: 2px;
    background-color: #5fcac7;
    color: #ffffff ;
    text-decoration: dotted;
    font-family: 'Salsa';
    text-align: center;
    color: white;
}
.makean{
    color: white;
    font-size: 70%;
    text-decoration: none;
    height: 2px;
}
@font-face {
    font-family: 'Salsa';
    src: url(Fonts/Salsa/Salsa-Regular.ttf);
}
@font-face {
    font-family: 'tETKUR';
    src: url(Fonts/Tektur/Tektur-VariableFont_wdth\,wght.ttf);
}

.inp{
    color: aquamarine;
    border: none;
    border-bottom: 2px solid black; 
    outline: none; 
    font-family: 'tETKUR';
}
p{
    color: white;
    font-family: 'Salsa';
}

.inp:focus{
     
     border-bottom-color: blue;
}
#text{
    color: aquamarine;
    border: none;
    border-bottom: 2px solid black; 
    outline: none; 
    font-family: 'tETKUR';
    width: auto;
    height: 70px;
}
.t1:hover{
    color: green;
    text-decoration: underline green;
}
.t1:visited{
    color: #908B8B;
    text-decoration: underline green;
}
#a{
    background-color: #E9E0E0;
}
#b{
    background-color: #E9E0E0;
}
.c{
    color: #4b4342;
    font-size: 200%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
input{
    height: 30px;

}
.link{
    display: inline;
    float: right;
    padding: 30px;
    margin-top: 20px;
    margin-left: 70px;
    font-size: 120%;
}
input{
    outline: none;
    border-bottom: 1px solid black;
    border: none;
}
.heading1{
    color: white;
    font-family: monospace;
    padding-top: 100px;
}
#abc{
    background-color: #E9E0E0;
    color: black;
    border-radius: 10px;
    width: 90px;
    height: 35px;
}
h2{
    margin-top: 40px;
    color: white;

}

